$red: #D45354;
$blue: #024959;
$darkgray: #040B11;
$lightblue: #0497B8;
$yellow: #DEBB1E;
$green: #8dA540;
$darkgreen: #5C6C2A;

$text: $blue;
$text2: $yellow;
$text3: $green;
$text4: $lightblue;
$text5: $red;
$text6: $darkgreen;
$text7: $darkgray;
